* {
    font-family: arial;
}

.directions {
    font-weight: bold;
    color: black;
}

.header {
	background: #40e0d0;
    color: white;
}

#subtitle {
    text-align: center;
}

.title {
    font-weight: bold;
    color: black;
}

.title:a:link {
    color: mediumpurple;
}

h1 {
    text-align: center;
}

label {
    font-size: 10px;
}

#map {
    height: 300px;
    width: 100%;
}

#borough:label {
    color: turquoise;
}

/* Color Pallet
#40e0d0 = turquoise
#d040e0 = fueshia
#e0d040 = gold
*/